/** ------------------------------------------------------------
  ##  TAILWIND CSS
  --------------------------------------------------------- */

@import 'tailwindcss/preflight';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** ------------------------------------------------------------
  ##  CUSTOM CLASSES
  --------------------------------------------------------- */

html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
img {
	user-select: none;
}
.rainbow {
	background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
}
.btn-active, .btn-inactive {
	@apply h-12 w-full font-bold text-xl
}
.btn-active {
	@apply text-black bg-white
}
.btn-inactive {
	@apply text-white bg-black
}
button:focus {
	outline: 0;
}
button:focus, .no-highlight {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rotate {
	transform: rotate(180deg);
}
.transition {
	z-index: 1;
	transition: z-index 0.25s step-end, transform 0.25s, opacity 0.25s;
	will-change: transform, scale;
}
.expanded {
	transition: z-index 0.25s step-start, transform 0.25s, opacity 0.25s;
	transform: scale(4);
	@apply z-10 fixed pin flex
}